@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700)      
//Font
*
    font-family 'Roboto', sans-serif !important
    margin 0
    padding 0
object
	display none
a
	text-decoration none
	list-style none 
body
    background #fff
    margin 0
    padding 0
.container
	width 100% 