template(name="home")
	.header
		.logo
			img(src="/img/brand.png", alt="")
		.nav
			a(href='#').active Home
			a(href='#') About Us
			a(href='#') Contact
			a(href='#') Media
			a(href='#') Social
		.formArea
			form
				select 
					option opt
					option opt
					option opt
				input(type="text")
				button(name="send") Send
	.landing(style='height: {{height}};')
		.brandingArea
			.logo
				h1 Page main title
			.description
				p Page description, not so long
			a(href='').btn Some random text
		.carousel
			.leftArrow
			.rightArrow
			ul(style='width: {{carouselWidth}};')
				li.slide1(style='width: {{width}};')
				li.slide2(style='width: {{width}};')
				li.slide3(style='width: {{width}};')
	.fake(style='height: {{height}};')
		
	.girls
		.image
			img(src="img/Girls/1.jpg", alt="")
		.image
			img(src="img/Girls/5.jpg", alt="")
		.image
			img(src="img/Girls/3.jpg", alt="")
		.image
			img(src="img/Girls/4.jpg", alt="")
		.footer
			.craps
				.crap
					h3 Ipsum Title
					p Noster deleniti copiosae an has, sapientem maluisset molestiae pro ei. Hinc nonumy persequeris qui ea, eu mea diam rebum temporibus. Usu ad populo possit dignissim. Eam case tractatos in. In dignissim conceptam sea.
				.crap
					h3 None the richer
					p Habemus maiestatis te mel, qui quot qualisque iracundia ex. Est te aliquip platonem, vel prima.
				.crap
					h3 Die Frauer
					p Lorem ipsum dolor sit amet, mea cu omnis suscipiantur, mucius assentior persecuti nam ut vis.
			.divisor
				.copy
					h3 © 2015 Murilobast. All Rights Reserved.
