@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,100italic,300italic,400italic,500italic,700italic);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.white {
  color: rgba(255, 255, 255, 0.6) !important; }

.dark {
  color: #333333 !important; }

.shadow-0 {
  border: 1px solid #eee; }

.shadow-1, .btn, .contentHeader, #History .fullBox .basicInfo .profileIcon, #History .fullBox .basicInfo .profileRanked .t3v3 h3, #History .fullBox .basicInfo .profileRanked .t5v5 h3, #History .fullBox .basicInfo .profileRanked .solo h3, #History .matchHistory .matchHeader, #History .matchHistory .match, #History .matchHistory .match .contentMatch .outChamp, #History .matchHistory .match .contentMatch .matchItems img, #History .matchHistory .match .contentMatch .matchInfo, #History .matchHistory .match .contentMatch .outSummonerSpell1, #History .matchHistory .match .contentMatch .outSummonerSpell2, #History .matchHistory .match .players .player, #ActiveMatch .summonerInfoHeader .icon, #ActiveMatch .info .blueTeam .header, #ActiveMatch .info .purpleTeam .header, .modalItem .header {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.shadow-2, .btn:hover, .modalShare, .modalShare .modalFooter .btn:hover, .content, .header .formGroup .search, .header .formGroup .modeSelect, #History .fullBox .basicInfo, #History .matchHistory, #History .matchHistory .match .header, #ActiveMatch .summonerInfoHeader, #ActiveMatch .info .blueTeam .player, #ActiveMatch .info .purpleTeam .player, #ActiveMatch .info .blueTeam .player .champ, #ActiveMatch .info .purpleTeam .player .champ, #ActiveMatch .info .blueTeam .player .spells, #ActiveMatch .info .purpleTeam .player .spells {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2); }

.shadow-3 {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24); }

.shadow-4, .modalItem {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2); }

* {
  font-family: "Roboto", sans-serif !important; }

body {
  background: #303035;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  min-width: 1100px; }

p {
  font-size: 14px; }

.btn {
  height: 30px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 30px;
  text-align: center;
  padding: 0 10px; }
  .btn:active {
    background: rgba(51, 51, 51, 0.6); }

.modalMsg {
  transition: all 1s;
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  width: 600px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.1);
  height: 40px;
  text-align: center;
  border-radius: 2px; }
  .modalMsg p {
    line-height: 40px;
    color: #eee; }

.modalShare {
  transition: all 0.5s;
  display: none;
  width: 400px;
  height: 250px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.9); }
  .modalShare .modalHeader {
    height: 60px;
    background: rgba(51, 51, 51, 0.9);
    width: 100%;
    text-align: center; }
    .modalShare .modalHeader h3 {
      color: rgba(255, 255, 255, 0.9);
      line-height: 60px;
      text-transform: uppercase;
      display: inline-block; }
  .modalShare .modalBody {
    width: 100%;
    height: 140px;
    text-align: center; }
    .modalShare .modalBody p {
      padding: 20px; }
    .modalShare .modalBody input {
      width: 90%;
      height: 30px;
      line-height: 30px;
      padding: 0 5px;
      font-size: 16px;
      display: inline-block; }
  .modalShare .modalFooter {
    text-align: center; }
    .modalShare .modalFooter .btn {
      display: inline-block;
      margin: 10px; }
      .modalShare .modalFooter .btn:active {
        background: rgba(51, 51, 51, 0.6); }
    .modalShare .modalFooter .close {
      background: #e74c3c; }
    .modalShare .modalFooter .twitter {
      background: #00aced; }
    .modalShare .modalFooter .facebook {
      background: #3b5998; }

.content {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 60px; }

.contentHeader {
  width: 100%;
  height: 60px;
  background: rgba(45, 45, 57, 0.9);
  border-radius: 2px 2px 0 0; }

.contentBody {
  width: 100%; }

.contentFooter {
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.16), 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
  width: 100%;
  height: 60px;
  background: rgba(45, 45, 57, 0.9);
  border-radius: 0 0 2px 2px;
  margin-bottom: 20px;
  clear: both; }

.headTitle {
  font-size: 18px;
  line-height: 60px;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase; }

.footerInfo {
  float: right;
  padding: 20px;
  width: 200px; }
  .footerInfo p {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 100;
    text-align: right; }

.header {
  background-position: 0 -140px;
  background-repeat: no-repeat;
  background-size: cover; }
  .header .headerLogo {
    background-image: url("../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 128px;
    width: 460px;
    margin: 0 auto;
    padding: 40px 0;
    background-size: contain; }
    .header .headerLogo h1 {
      display: none; }
  .header .formGroup {
    width: 600px;
    margin: 0 auto; }
    .header .formGroup .search {
      width: 600px;
      height: 50px;
      margin: 0 auto;
      box-sizing: padding-box;
      border-radius: 2px; }
      .header .formGroup .search .opt {
        display: inline-block;
        vertical-align: top;
        font-weight: 100; }
      .header .formGroup .search select {
        outline: 0;
        float: left;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 100;
        width: 100px;
        height: 50px;
        overflow: hidden;
        border-radius: 2px 0 0 2px;
        padding-left: 10px;
        color: rgba(51, 51, 51, 0.6);
        border: none;
        background: #eee;
        font-weight: 100;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-border-radius: 2px 0 0 2px;
        -moz-border-radius: 2px 0 0 2px;
        background-image: url(../img/menu-bg.png);
        background-repeat: no-repeat;
        background-size: contain; }
      .header .formGroup .search .name {
        height: 50px;
        width: 390px;
        border: none;
        padding: 0;
        display: inline-block;
        float: left;
        vertical-align: top;
        font-weight: 100;
        color: rgba(30, 30, 30, 0.6);
        font-size: 24px;
        text-align: center;
        box-sizing: border-box;
        transition: padding-left 0.2s; }
        .header .formGroup .search .name:focus {
          color: #333333;
          text-align: left;
          padding-left: 20px;
          outline: 0; }
      .header .formGroup .search .send {
        outline: 0;
        height: 50px;
        width: 110px;
        border: none;
        display: inline-block;
        float: left;
        vertical-align: top;
        border-radius: 0 2px 2px 0;
        background: rgba(52, 152, 219, 0.95);
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        color: rgba(255, 255, 255, 0.85);
        font-weight: 100;
        padding: 0;
        -webkit-appearance: push-button; }
        .header .formGroup .search .send:hover {
          box-shadow: inset 0 2px 10px 0 rgba(255, 255, 255, 0.3), inset 0 2px 5px 0 rgba(255, 255, 255, 0.3); }
    .header .formGroup .modeSelect {
      width: 600px;
      margin: 0 auto;
      border-radius: 2px;
      overflow: hidden;
      height: 32px;
      margin-top: 20px;
      display: block; }
      .header .formGroup .modeSelect .radio {
        display: none; }
      .header .formGroup .modeSelect .radio + label {
        height: 32px;
        width: 300px;
        background: rgba(51, 51, 51, 0.6);
        float: left;
        text-align: center;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.85);
        font-weight: 100;
        text-transform: uppercase; }
      .header .formGroup .modeSelect .radio:checked + label {
        background: rgba(0, 171, 169, 0.6);
        box-shadow: inset 0 6px 20px 0 rgba(0, 0, 0, 0.19), inset 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        font-weight: 300; }

#History {
  transition: all 0.2s;
  margin-bottom: 100px; }
  #History .contentHeader {
    text-align: left; }
    #History .contentHeader .headTitle {
      display: inline-block; }
    #History .contentHeader .headerNav {
      margin: 0 20px;
      height: 60px;
      width: 400px;
      display: inline-block; }
      #History .contentHeader .headerNav .btn {
        display: inline-block;
        text-transform: uppercase; }
        #History .contentHeader .headerNav .btn:hover {
          box-shadow: none;
          transition: box-shadow 0.5s; }
      #History .contentHeader .headerNav .selected {
        box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.16), inset 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
        #History .contentHeader .headerNav .selected:hover {
          box-shadow: none; }
    #History .contentHeader .reload {
      background-image: url(../img/reload.png);
      background-size: contain;
      padding: 0;
      height: 30px;
      width: 30px;
      margin: 15px;
      margin-left: 0;
      float: right;
      border-radius: 100%; }
      #History .contentHeader .reload:active {
        opacity: 0.6; }
    #History .contentHeader .share {
      background: rgba(0, 171, 169, 0.6);
      float: right;
      margin: 15px; }
      #History .contentHeader .share:active {
        background: rgba(51, 51, 51, 0.6); }
  #History .fullBox {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden; }
    #History .fullBox .basicInfo {
      text-align: center;
      height: 200px;
      width: 100%; }
      #History .fullBox .basicInfo .profileIcon {
        width: 180px;
        height: 180px;
        margin: 10px;
        display: inline-block;
        vertical-align: top;
        border-radius: 2px;
        overflow: hidden; }
        #History .fullBox .basicInfo .profileIcon .outIcon {
          width: 180px; }
      #History .fullBox .basicInfo .profileRanked {
        width: 60%;
        display: inline-block;
        height: 200px;
        margin: 0 10px;
        text-align: center;
        overflow: hidden;
        border-radius: 2px; }
        #History .fullBox .basicInfo .profileRanked .t3v3, #History .fullBox .basicInfo .profileRanked .t5v5, #History .fullBox .basicInfo .profileRanked .solo {
          width: 31%;
          height: 200px;
          display: inline-block;
          margin: 0;
          padding: 0;
          text-align: center;
          background: rgba(255, 255, 255, 0.1);
          vertical-align: top; }
          #History .fullBox .basicInfo .profileRanked .t3v3 h3, #History .fullBox .basicInfo .profileRanked .t5v5 h3, #History .fullBox .basicInfo .profileRanked .solo h3 {
            text-transform: uppercase;
            color: rgba(51, 51, 51, 0.6);
            text-align: center;
            height: 26px;
            line-height: 26px;
            clear: both;
            background: rgba(255, 255, 255, 0.6);
            font-weight: 700; }
          #History .fullBox .basicInfo .profileRanked .t3v3 p, #History .fullBox .basicInfo .profileRanked .t5v5 p, #History .fullBox .basicInfo .profileRanked .solo p {
            color: rgba(255, 255, 255, 0.6);
            display: inline-block;
            height: 16px;
            padding: 2px 4px;
            margin: 1px 0;
            line-height: 12px;
            box-sizing: border-box; }
          #History .fullBox .basicInfo .profileRanked .t3v3 .outTier, #History .fullBox .basicInfo .profileRanked .t5v5 .outTier, #History .fullBox .basicInfo .profileRanked .solo .outTier {
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.6);
            text-align: center;
            display: block;
            margin-top: -14px;
            width: 100%;
            line-height: 16px;
            float: none;
            box-sizing: border-box;
            font-weight: 700; }
          #History .fullBox .basicInfo .profileRanked .t3v3 .outLP, #History .fullBox .basicInfo .profileRanked .t3v3 .outElo, #History .fullBox .basicInfo .profileRanked .t5v5 .outLP, #History .fullBox .basicInfo .profileRanked .t5v5 .outElo, #History .fullBox .basicInfo .profileRanked .solo .outLP, #History .fullBox .basicInfo .profileRanked .solo .outElo {
            text-align: center;
            display: block;
            width: 100%;
            color: rgba(255, 255, 255, 0.6);
            line-height: 12px;
            font-weight: 500;
            font-size: 12px; }
          #History .fullBox .basicInfo .profileRanked .t3v3 .outTierImg, #History .fullBox .basicInfo .profileRanked .t5v5 .outTierImg, #History .fullBox .basicInfo .profileRanked .solo .outTierImg {
            width: 45%;
            margin-top: -12px;
            display: inline-block; }
          #History .fullBox .basicInfo .profileRanked .t3v3 .left, #History .fullBox .basicInfo .profileRanked .t3v3 .right, #History .fullBox .basicInfo .profileRanked .t5v5 .left, #History .fullBox .basicInfo .profileRanked .t5v5 .right, #History .fullBox .basicInfo .profileRanked .solo .left, #History .fullBox .basicInfo .profileRanked .solo .right {
            width: 50%;
            overflow: hidden;
              overflow-padding: 5px; }
          #History .fullBox .basicInfo .profileRanked .t3v3 .left, #History .fullBox .basicInfo .profileRanked .t5v5 .left, #History .fullBox .basicInfo .profileRanked .solo .left {
            float: left;
            text-align: right; }
            #History .fullBox .basicInfo .profileRanked .t3v3 .left p, #History .fullBox .basicInfo .profileRanked .t5v5 .left p, #History .fullBox .basicInfo .profileRanked .solo .left p {
              color: #16a085;
              font-weight: 500; }
          #History .fullBox .basicInfo .profileRanked .t3v3 .right, #History .fullBox .basicInfo .profileRanked .t5v5 .right, #History .fullBox .basicInfo .profileRanked .solo .right {
            float: right;
            text-align: left; }
            #History .fullBox .basicInfo .profileRanked .t3v3 .right p, #History .fullBox .basicInfo .profileRanked .t5v5 .right p, #History .fullBox .basicInfo .profileRanked .solo .right p {
              color: #e74c3c;
              font-weight: 500; }
        #History .fullBox .basicInfo .profileRanked .solo {
          margin: 0 1%; }
  #History .matchHistory {
    padding: 20px 0;
    width: 100%;
    display: inline-block;
    text-align: center; }
    #History .matchHistory .matchHeader {
      text-transform: uppercase;
      height: 20px;
      position: absolute;
      background-color: #eee;
      width: 610px;
      margin-top: -20px; }
      #History .matchHistory .matchHeader h2 {
        line-height: 20px; }
    #History .matchHistory .container {
      overflow: auto; }
    #History .matchHistory .match {
      border-radius: 2px;
      margin: 3px;
      margin-left: 3px;
      height: 200px;
      width: 590px;
      overflow: hidden;
      background-size: cover !important;
      display: inline-block; }
      #History .matchHistory .match .header {
        height: 30px;
        width: 590px;
        background: #333333;
        text-align: left;
        padding: 0px;
        padding-top: 7px;
        padding-left: 15px;
        display: inline-block;
        text-align: left;
        color: #fff; }
        #History .matchHistory .match .header .small {
          text-transform: uppercase;
          font-size: 10px; }
        #History .matchHistory .match .header .mode {
          display: inline-block;
          width: 30%; }
        #History .matchHistory .match .header .date {
          display: inline-block;
          width: 25%; }
        #History .matchHistory .match .header .duration {
          display: inline-block;
          width: 20%; }
        #History .matchHistory .match .header .gold {
          display: inline-block;
          width: 20%; }
      #History .matchHistory .match .contentMatch {
        height: 170px;
        display: block; }
        #History .matchHistory .match .contentMatch .championInfo {
          width: 96px;
          height: 160px;
          display: block;
          float: left;
          margin: 6px 6px 0 6px; }
        #History .matchHistory .match .contentMatch .outChamp {
          width: 96px;
          display: block;
          padding-bottom: 10px; }
        #History .matchHistory .match .contentMatch .nameBlock {
          width: 96px;
          display: block;
          height: 20px;
          color: #eee;
          background: #333;
          font-size: 12px;
          margin-top: -20px;
          line-height: 20px;
          opacity: 0.8; }
        #History .matchHistory .match .contentMatch .matchItems {
          margin: 10px 5px 0 5px;
          width: 136px;
          border-radius: 2px;
          display: block;
          vertical-align: top;
          float: left; }
          #History .matchHistory .match .contentMatch .matchItems .outItem6 {
            position: relative;
            top: 16px; }
          #History .matchHistory .match .contentMatch .matchItems img {
            width: 32px;
            border-radius: 4px;
            border: solid 1px #333;
            float: left;
            margin: 0 auto; }
            #History .matchHistory .match .contentMatch .matchItems img:hover {
              cursor: pointer; }
          #History .matchHistory .match .contentMatch .matchItems .outDate {
            margin-left: 14px !important; }
        #History .matchHistory .match .contentMatch .matchInfo {
          display: inline-block;
          margin: 0 auto;
          width: 136px;
          margin: 5px 5px;
          float: left;
          text-align: left;
          text-transform: uppercase;
          box-sizing: border-box;
          background: rgba(30, 30, 30, 0.6); }
          #History .matchHistory .match .contentMatch .matchInfo .small {
            font-size: 10px; }
          #History .matchHistory .match .contentMatch .matchInfo .group {
            padding: 2px 7px;
            font-size: 14px; }
            #History .matchHistory .match .contentMatch .matchInfo .group p {
              display: inline-block;
              color: #fff; }
          #History .matchHistory .match .contentMatch .matchInfo .outGameType {
            font-size: 14px;
            line-height: 18px; }
        #History .matchHistory .match .contentMatch .outSummonerSpell1, #History .matchHistory .match .contentMatch .outSummonerSpell2 {
          margin: 5px;
          display: inline-block;
          width: 38px;
          border-radius: 2px; }
      #History .matchHistory .match .players {
        width: 330px;
        display: block;
        height: 170px;
        background: rgba(30, 30, 30, 0.6);
        float: right; }
        #History .matchHistory .match .players .outTeamMembers, #History .matchHistory .match .players .outEnemyMembers {
          padding-top: 1px;
          width: 48%;
          display: inline-block; }
        #History .matchHistory .match .players .playerLink {
          text-decoration: none; }
        #History .matchHistory .match .players .player {
          margin: 2px auto;
          height: 30px;
          display: block; }
          #History .matchHistory .match .players .player:hover {
            background: rgba(255, 255, 255, 0.3);
            cursor: pointer; }
          #History .matchHistory .match .players .player img {
            float: left;
            display: inline-block;
            vertical-align: middle;
            width: 30px !important; }
          #History .matchHistory .match .players .player .playerInfo {
            height: 30px;
            line-height: 30px;
            overflow: hidden; }
            #History .matchHistory .match .players .player .playerInfo p {
              vertical-align: middle;
              display: block;
              line-height: 30px;
              font-size: 13px;
              color: #fff;
              text-align: left;
              padding-left: 5px; }

#ActiveMatch .summonerInfoHeader {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 20px; }
  #ActiveMatch .summonerInfoHeader .icon {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    border-radius: 2px;
    overflow: hidden; }
    #ActiveMatch .summonerInfoHeader .icon img {
      width: 100px; }
  #ActiveMatch .summonerInfoHeader .gameInfo {
    height: inherit;
    text-align: left;
    float: left; }
    #ActiveMatch .summonerInfoHeader .gameInfo p {
      color: #fff;
      line-height: 120px;
      display: inline-block;
      margin: 0 10px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px; }
    #ActiveMatch .summonerInfoHeader .gameInfo .outSummonerName {
      text-transform: none;
      margin-left: 20px; }
  #ActiveMatch .summonerInfoHeader .gameType {
    float: right;
    height: 60px; }
    #ActiveMatch .summonerInfoHeader .gameType h3 {
      line-height: 60px;
      color: #fff;
      margin: 0 20px;
      text-transform: uppercase;
      opacity: 0.85;
      font-size: 18px; }
#ActiveMatch .frame {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 330px;
  padding: 8px 0;
  clear: both; }
#ActiveMatch .info {
  width: 97%;
  height: 386px;
  margin: 0 auto;
  margin-bottom: 30px; }
  #ActiveMatch .info .blueTeam {
    float: left; }
    #ActiveMatch .info .blueTeam .player {
      float: left;
      margin: 3px 2%;
      border-radius: 2px; }
    #ActiveMatch .info .blueTeam .header {
      float: left;
      height: 30px;
      margin-bottom: 10px;
      margin-left: 6px;
      background: #333333;
      color: #fff;
      width: 130px;
      text-align: center; }
      #ActiveMatch .info .blueTeam .header h1 {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 30px;
        vertical-aligh: middle; }
    #ActiveMatch .info .blueTeam .inferior {
      height: 20px;
      width: 100%;
      background: rgba(52, 152, 219, 0.95);
      margin-top: 20px; }
  #ActiveMatch .info .purpleTeam {
    float: right; }
    #ActiveMatch .info .purpleTeam .player {
      float: right;
      margin: 3px 2%; }
    #ActiveMatch .info .purpleTeam .header {
      float: right;
      height: 30px;
      margin-bottom: 10px;
      margin-right: 6px;
      background: #333333;
      color: #fff;
      width: 130px;
      text-align: center; }
      #ActiveMatch .info .purpleTeam .header h1 {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 30px;
        vertical-aligh: middle; }
    #ActiveMatch .info .purpleTeam .inferior {
      height: 20px;
      width: 100%;
      background: rgba(96, 60, 186, 0.6);
      margin-top: 20px; }
  #ActiveMatch .info .blueTeam, #ActiveMatch .info .purpleTeam {
    width: 50%;
    display: inline-block; }
    #ActiveMatch .info .blueTeam .player, #ActiveMatch .info .purpleTeam .player {
      height: 60px;
      overflow: hidden;
      width: 94%;
      background: #fff;
      display: inline-block; }
      #ActiveMatch .info .blueTeam .player .champ, #ActiveMatch .info .purpleTeam .player .champ {
        float: left; }
        #ActiveMatch .info .blueTeam .player .champ .outChampImg, #ActiveMatch .info .purpleTeam .player .champ .outChampImg {
          width: 60px; }
      #ActiveMatch .info .blueTeam .player .spells, #ActiveMatch .info .purpleTeam .player .spells {
        width: 30px;
        height: inherit;
        float: left; }
        #ActiveMatch .info .blueTeam .player .spells img, #ActiveMatch .info .purpleTeam .player .spells img {
          width: 30px;
          margin: 0;
          display: block; }
      #ActiveMatch .info .blueTeam .player .summonerInfo, #ActiveMatch .info .purpleTeam .player .summonerInfo {
        width: 140px;
        height: inherit;
        float: left;
        text-align: left; }
        #ActiveMatch .info .blueTeam .player .summonerInfo p, #ActiveMatch .info .purpleTeam .player .summonerInfo p {
          margin: 0;
          margin-left: 10px;
          font-size: 12px;
          line-height: 20px;
          vertical-align: middle;
          width: 140px; }
        #ActiveMatch .info .blueTeam .player .summonerInfo .outBluePlayer, #ActiveMatch .info .blueTeam .player .summonerInfo .outPurplePlayer, #ActiveMatch .info .purpleTeam .player .summonerInfo .outBluePlayer, #ActiveMatch .info .purpleTeam .player .summonerInfo .outPurplePlayer {
          font-size: 14px;
          width: 135px; }
      #ActiveMatch .info .blueTeam .player .stats, #ActiveMatch .info .purpleTeam .player .stats {
        width: 120px;
        height: inherit;
        margin: 0 auto;
        display: inline-block; }
        #ActiveMatch .info .blueTeam .player .stats p, #ActiveMatch .info .purpleTeam .player .stats p {
          margin: 0;
          font-size: 12px;
          line-height: 20px; }
      #ActiveMatch .info .blueTeam .player .outRankedStats, #ActiveMatch .info .purpleTeam .player .outRankedStats {
        width: 125px;
        height: inherit;
        float: right;
        position: relative; }
        #ActiveMatch .info .blueTeam .player .outRankedStats img, #ActiveMatch .info .purpleTeam .player .outRankedStats img {
          width: 34px;
          position: absolute;
          display: inline-block;
          margin-right: -35px; }
        #ActiveMatch .info .blueTeam .player .outRankedStats p, #ActiveMatch .info .purpleTeam .player .outRankedStats p {
          display: inline-block;
          font-size: 12px;
          text-align: right;
          line-height: 20px;
          float: right;
          padding-right: 10px; }
        #ActiveMatch .info .blueTeam .player .outRankedStats .outRankedWins, #ActiveMatch .info .purpleTeam .player .outRankedStats .outRankedWins {
          clear: both;
          text-align: center; }
        #ActiveMatch .info .blueTeam .player .outRankedStats .outTier, #ActiveMatch .info .purpleTeam .player .outRankedStats .outTier {
          line-height: 20px; }

.active {
  background: rgba(0, 171, 169, 0.6) !important; }
  .active p {
    color: #fff; }

.modalRunes {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 240px;
  background: #fff;
  border: 1px solid rgba(30, 30, 30, 0.6);
  border-radius: 2px; }
  .modalRunes p {
    line-height: 20px;
    color: #333333;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    height: 20px !important;
    width: 240px !important;
    display: block; }

.modalItem {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 200px;
  background: #333333;
  border: 1px solid rgba(30, 30, 30, 0.6);
  border-radius: 2px; }
  .modalItem p {
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    text-align: left; }
  .modalItem .header {
    height: 48px;
    overflow: hidden;
    background: #eee; }
    .modalItem .header .itemImg {
      width: 48px;
      float: left; }
    .modalItem .header .itemName {
      font-size: 14px;
      float: left;
      line-height: 24px;
      text-align: center;
      width: 152px;
      color: #333333;
      vertical-align: middle; }
  .modalItem .body {
    padding: 10px; }
  .modalItem .itemCost {
    padding-top: 30px; }
  .modalItem .itemDesc {
    color: #fff;
    font-size: 12px;
    line-height: 15px; }
    .modalItem .itemDesc passive, .modalItem .itemDesc active, .modalItem .itemDesc unique {
      color: rgba(0, 171, 169, 0.6); }
    .modalItem .itemDesc i {
      color: #1abc9c; }
